/* Estilos generales */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(to right, #0f4c4c, #04292e);
  color: white;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.about-text {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  text-align: left;
}

.about-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.about-text p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


/* Media Queries para hacerlo responsivo */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    text-align: center;
  }

  .about-logos img {
    width: 80px; /* Reduce el tamaño */
  }
}