.header-container {
    display: flex;
    width: 100%;
    height: 100vh;
  }
  
  .left-section {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
    padding: 2rem;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8; /* Aumenta este valor para que el video se vea más */
  }
  
  
  .content {
    position: relative;
    z-index: 10;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .highlight {
    color: cyan;
  }
  
  .name {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .location {
    color: gray;
  }
  
  .right-section {
    width: 50%;
  }
  
  .right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  